.msd-container {
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10vh;
  justify-content: space-between;
  background: url(./imgs/msdLanding.png);
  background-size: cover;
  .logo{
    width: 30%;
  }

  .info{
    color: #fff;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    height: 90vh;
    min-height: fit-content;
    padding: 10vh 10vw 10vh 5%;

    &_primary-name{
      font-family: Simplifica;
      font-size: 3.5em;
    }
    &_primary-description{
      font-family: Roboto;
      font-weight: 500;
      font-size: 1.2em;
    }
    &_secondary-heading{
      margin-top: 20px;
      font-size: 1em;
      font-weight: 500;
    }
    &_secondary-description{
      font-family: Roboto;
      font-size: 0.8em;
      font-weight: 300;
      margin-top: 10px;
    }
  }

  .landing-img {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }
}
